.flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.m-12 {
	margin: 3rem;
}

.mt-20 {
	margin-top: 5rem;
}

.mb-12 {
	margin-bottom: 3rem;
}

.mx-6 {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}