.block {
  padding: 1rem;
  margin: 1rem 0.5rem;
  border: 1px solid transparent;
}

.block-border {
  border-radius: 12px;
}

@media (prefers-color-scheme: dark) {
  .block {
    background-color: var(--bg-color);
  }
}

@media (prefers-color-scheme: light) {
  .block-border {
    border: 1px solid #ccc;
  }

  .block-border {
    box-shadow: 0 0 0 lightgray;
    transition: box-shadow 0.3s ease-in-out;
  }
}

@media (prefers-color-scheme: light) and (pointer: fine) {
  .block-border:hover {
    box-shadow: 0 5px 16px lightgray;
  }
}
