.block,
.only-block-style {
  padding: 1rem;
  margin: 1rem 0.5rem;
  border: 1px solid transparent;
  background-color: white;
}

.block {
  border-radius: 12px;
}

@media (prefers-color-scheme: dark) {
  .block {
    background-color: #252d38;
  }
}

@media (prefers-color-scheme: light) {
  .block {
    border: 1px solid #ccc;
  }

  .block {
    box-shadow: 0 0 0 lightgray;
    transition: box-shadow 0.3s ease-in-out;
  }

  .nice-shadow {
    box-shadow: 0 5px 16px lightgray;
  }
}

@media (prefers-color-scheme: light) and (pointer: fine) {
  .block:hover {
    box-shadow: 0 5px 16px lightgray;
  }
}

.block h1,
.block h2,
.block h3,
.only-block-style h1,
.only-block-style h2,
.only-block-style h3 {
  font-weight: 700;
  margin: 0.5rem 0;
}

.big-block {
  padding: 0.75rem 1.5rem;
  font-size: larger;
}