@import url(../../css/global.css);
@import url(block.css);
@import url(../../css/limit-content-width.css);
@import url(../../css/copyright.css);
@import url(../../css/flex.css);
@import url(../../css/font.css);
@import url(../../css/body.css);
@import url(title-block.css);

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
