.title-block {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  .title-block {
    background-color: var(--bg-color);
  }
}

.title-block h1 {
  font-weight: 500;
}

.subtitle {
  margin: 0.5rem 0.25rem;
}

.title-text {
  font-size: 2rem;
  margin: 1rem;
  font-weight: bold;
}