code {
  font-family: "Cascadia Code", "JetBrains Mono", "Fira Code", "Fira Mono",
    "Roboto Mono", "Lucida Console", "Courier New", monospace;
  background-color: #e6e8ee;
  padding: 0.1rem 0.25rem;
  margin: 0 0.25rem;
  border-radius: 6px;
}

@media (prefers-color-scheme: dark) {
  code {
    background-color: #333;
  }
}