.large-font {
  font-size: large;
}

.small-font {
  font-size: small;
}

.auto-color-font {
  color: black;
}

@media (perfer-color-scheme: dark) {
  .auto-color-font {
    color: white;
  }
}

.white-font {
  color: white;
}
