.auto-overflow {
  overflow: auto;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
}

.no-a-decoration {
  text-decoration: none;
}

.no-margin {
  margin: 0;
}

.round {
  border-radius: 100%;
}

.copyright {
  margin: 3rem 0;
  text-align: center;
}
